!!!
%html
  %head
    %title Simple JSON API Interaction
    %link{:href => "css/bootstrap.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/bootstrap-theme.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "js/microajax.minified.js", :type => "text/javascript"}
    :css
      * { box-sizing: border-box;}
      body{ background: #040e15; color: #fff }
      .jumbotron{ background: none}
      article{  display: inline-block; width: 50%; vertical-align: top; margin-bottom: 2em; padding: 1em 3em; position: relative;  }
      article h2{ margin: 0.5em 0 1em; color: #fff}
      article h3{ margin: 0; color: #fff; font-size: 10em; font-weight: normal; position: absolute; right: 0; top: 0; z-index: -1; opacity: 0.3}
      p{
        max-width: 42em;
        font-size: 18px;
        color: #c0c0c0
      }

    :javascript
       microAjax("http://localhost:3000/movies", function (movieData) {
          var movieParsedData = JSON.parse(movieData)
          var placeholder = document.getElementById("movies")
          // placeholder.innerHTML = ""
      
          for (var i = 0; i < movieParsedData.length; i++){
            var movie = movieParsedData[i]
            console.log(movie);
            movie.score = 0
            
            if (movie.reviews){
              for (var review in movie.reviews){
                movie.score += movie.reviews[review].score
              }
              movie.score = (movie.score / movie.reviews.length).toFixed(2)
            }
            

            // Display information
            placeholder.innerHTML += '<article class="">' + 
                '<header><h2>' + movie.title + '</h2>' +
                '<h3>' + movie.score + '</h3></header>' +
                '<p>' + movie.description + '</p>'
              + '</article>'
          }
        });
  %body
    #wrapper
      .container
        .row
          .jumbotron
            %h1 Movies you should watch:
            %p a collection of movies you should've seen by now
        #movies
